*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: 'Montserrat';
    background-color: black;
}

.navbar {
    display: flex;
    padding: 31px;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    display: inline;
    margin: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.theme {
    background-image: url(../img/black.png);
    width: 50px;
    height: 50px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: red;
}

.img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.head {
    text-align: center;
    margin-top: 49px;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
}

.txt-content {
    text-align: center;
    margin: 0px 67.5px 28px 67.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #ffffff;
}

.button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    height: 51px;
    justify-content: center;
    align-items: center;
    background-color:  #FF0000;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 82px;
}

.txt-button {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #000000;
}

.txtfooter {
    text-align: right;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 105px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #ffffff;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/montserrat-v25-latin-regular.woff2) format('woff2');
}   
